.social__link-icon {
  text-decoration: none;
  color: #000d6b;
  font-weight: 500;
  font-size: 1.2rem;
}

.contact__btn {
  padding: 7px 15px;
  background: #000d6b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}

.text__area::placeholder {
  font-size: 16px;
  color: #999;
  padding: 10px;
}

@media (max-width: 767.98px) {
  /* Small devices */
  .text__area {
    width: calc(50ch + 2em); /* width for 50 columns */
  }
}

@media (min-width: 768px) {
  /* Medium to large devices */
  .text__area {
    width: calc(90ch + 2em); /* width for 90 columns */
  }
}

@media screen and (max-width: 768px) {
  .contact__btn {
    margin-bottom: 40px;
    font-size: 0.8rem;
  }
}
